.page-enter-active,
.page-leave-active {
  transition: all 0.7s ease-out;
}
.page-enter,
.page-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}

.bounce-enter-active {
  animation: bounce-in 0.8s;
}
.bounce-leave-active {
  animation: bounce-out 0.5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

.slide-left-enter,
.slide-right-leave-active {
  opacity: 0;
  transform: translate(30px, 0);
}
.slide-left-leave-active,
.slide-right-enter {
  opacity: 0;
  transform: translate(-30px, 0);
}

.v-expansion-panel-content__wrap {
  padding: 0 !important;
  flex: 1 1 auto !important;
}

.order--border-success {
  border-left: 5px solid #00c853;
}
.order--border-process {
  border-left: 5px solid #cddc39;
}
.order--border-new {
  border-left: 5px solid #039be5;
  border-radius: 2px;
}
.order--border-canceled {
  border-left: 5px solid #f44336;
}
